include *.txt
include *.md
include *.pkl
recursive-include ./log_reg_model/*

include log_reg_model/datasets/train.csv
include log_reg_model/datasets/test.csv
include log_reg_model/trained_models/*.pkl
include log_reg_model/VERSION
include log_reg_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]